@import "tailwindcss";

:root {
  /* Base colors */
  --background: #ffffff;
  --foreground: #171717;

  /* Custom theme (THÊM VÀO) */
  --primary: #007ebd;
  --logo-blue: #002b5c;
  --bg-light: #f5f7fa;
}

body {
  font-family: "Lexend", sans-serif;
  background: var(--bg-light);
} /* Tailwind custom */
.bg-primary {
  background-color: var(--primary);
}
.text-primary {
  color: var(--primary);
}
.text-logo-blue {
  color: var(--logo-blue);
}
.bg-background-light {
  background-color: var(--bg-light);
} /* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.97);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
@keyframes shimmer-blue {
  0% {
    background-position: -700px 0;
  }
  100% {
    background-position: 700px 0;
  }
}

.shimmer-blue {
  background: linear-gradient(
    90deg,
    #e6f2fb 0%,
    #cfe7f9 50%,
    #e6f2fb 100%
  );
  background-size: 800px 100%;
  animation: shimmer-blue 1.4s infinite linear;
}